@use "../../Assets/styles/style.scss" as *;

.button {
  width: 160px;
  height: 48px;
  background-color: $primary-orange;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    cursor: pointer;
    background-color: $secondary-orange;
  }

  p {
    font-family: "Manrope-600";
    font-size: 13px;
    color: $white;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
  }
}
