// COLORS
$primary-orange: #d87d4a;
$secondary-orange: #fbaf85;
$silver: #f1f1f1;
$fade-silver: #fafafa;
$white: #ffffff;
$easy-black: #191919;
$black: #000000;
$gray: #979797;

//MEDIA QUERIES
$mobile-s: 320px;
$mobile-m: 375px;
$mobile: 425px;
$tablet: 768px;
$laptop-s: 1024px;
$laptop: 1440px;
$desktop: 1920px;
