@use "../../Assets/styles/style.scss" as *;

.wrapper {
  padding: 50px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: bisque;

  @media screen and (min-width: $laptop-s) {
    padding: 50px;
  }

  @media screen and (min-width: $laptop) {
    padding: 50px 200px;
  }

  @media screen and (min-width: $desktop) {
    padding: 50px 290px;
  }
}
