@use "../../Assets/styles/style.scss" as *;

.card {
  width: 327px;
  height: 165px;
  border-radius: 10px;
  margin: 20px 0;
  background-color: $silver;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  &__thumbnail {
    width: 140px;
    height: 125px;
    position: absolute;
    top: -30px;
  }

  &__title {
    margin: 60px 0 0 0;
    font-family: "Manrope-800";
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 1px;
  }

  &__cta {
    display: flex;
    justify-content: center;
    align-items: center;

    &--shop {
      margin: 20px 0 0 0;
      font-size: 13px;
      letter-spacing: 1px;
      color: #343434;
      text-transform: uppercase;
      font-family: "Manrope-600";

      &:hover {
        color: $primary-orange;
        cursor: pointer;
      }
    }

    &--svg {
      margin: 18px 0 0 6px;
    }
  }

  @media screen and (min-width: $tablet) {
    width: 223px;
    height: 165px;
    margin: 10px;
  }

  @media screen and (min-width: $laptop) {
    width: 400px;
    height: 204px;

    &__thumbnail {
      width: 181px;
      height: 170px;
      top: -45px;
    }
  }
}
